
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>


<h1 class="sub-header"> New Year - New Me </h1>
<div class="edit-user">
<%= form_for @user do |f| %>

  <%= f.label :name %>
    <br>
  <%= f.text_field :name %>
    <br>
  <%= f.label :bio %>
    <br>
  <%= f.text_area :bio %>
    <br>
  <%= f.label :pic_url %>
    <br>
  <%= f.text_field :pic_url %>
  <br>
    <br>
  <%= f.submit class: 'btn btn-small' %>

<% end %>
</div>
