
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :bio %>
  <%= f.text_area :bio %>

  <%= f.label :pic_url %>
  <%= f.text_field :pic_url %>
  <%= f.submit %>
<% end %>
<br>
