<center>

<img src='<%=@user.pic_url%>', border ="3">
<h1><%= @user.name %></h1>
<p><%= @user.bio %></p>
<br>
<h2>Your dates:</h2>
<ul>
  <% @user.events.each do |event| %>
    <li>Event name: <%= link_to event.title, "/events/#{event.id}" %></li>
    <li>In <%= event.location %> on <%= event.date %></li>
    <li>Event description: <%= event.snippet %></li>
    <li> <%= button_to "Delete Date", "/users/#{event.id}/delete", method: :delete %> </li>
    <br>
  <% end %>
</ul>



</center>
