
<h1 class="sub-header"><%= @event.title %></h1>
<p class="sub-header">Location: <%= @event.location %></p>
<br>
<%= button_to "RSVP", "/events/#{@event.id}/create", class: 'btn btn-small-rsvp'%>

<br>

<div class="container-xfluid">
<p>Date: <%= @event.date %></p>
<p>Description: <%= @event.snippet %></p>
<p>Free? <%= @event.cost %></p>
<p>Cost Description: <%= @event.cost_description %></p>
<p><%=link_to @event.url, "#{@event.url}", class: "link" %></p>

</div>
<br>
<h1 class="sub-header">Attendees</h1>

<div class="atten">

  <% @event.users.each do |user| %>

       <a class="box"href=<%= "/users/#{user.id}" %>><img src=<%= user.pic_url %> width="50" height="50" class="icon"><%= user.name %></a>




  <% end %>
</div>
