<h1><%= @event.title %></h1>

<p>Location: <%= @event.location %></p>
<p>Date: <%= @event.date %></p>
<p>Description: <%= @event.snippet %></p>
<p>Free? <%= @event.cost %></p>
<p>Cost Description: <%= @event.cost_description %></p>
<p><%=link_to @event.url, "#{@event.url}" %></p>

<%= button_to "RSVP", "/events/#{@event.id}/create" %>
