
<h1 class="sub-header"><%= @event.title %></h1>
<p class="sub-header">Location: <%= @event.location %></p>

<div class="container-xfluid">
<p>Date: <%= @event.date %></p>
<p>Description: <%= @event.snippet %></p>
<p>Free? <%= @event.cost %></p>
<p>Cost Description: <%= @event.cost_description %></p>
<p><%=link_to @event.url, "#{@event.url}", class: "link" %></p>

</div>
<br>
<%= button_to "RSVP", "/events/#{@event.id}/create", class: 'btn btn-small'%>

<br>
<br>
<h1 class="sub-header">Attendees</h1>

<ul>
  <% @event.users.each do |user| %>
       <a href=<%= "/users/#{user.id}" %>><img src=<%= user.pic_url %> width="50" height="50"></a>
    <li>
      <%= link_to user.name, "/users/#{user.id}" %>
    </li>
    <br>
  <% end %>
</ul>
