<!DOCTYPE html>
<html>
  <head>
    <title>UnnamedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
       <div class="navbar">
            <a href="/events"><img src="https://www.freelogodesign.org/file/app/client/thumb/54af8ec9-6e70-41d8-87a6-5552d9cf7fb1_200x200.png?1561088557051" width="100" height= "100" class="cat" ></a>
       <% if @logged_in %>
       <%= link_to "Home", "/events", class: "active" %>
          <%= button_to "Log out", '/logout', method: :delete, class: "nav_button" %>
          <%= link_to "Profile", "/users/#{@user_id}", class: "nav_button"  %>
       <% else %>
       <%= link_to "Home", "/events", class: "active" %>
       <%= link_to "Log In", '/login/new', class: "nav_button" %>
       <%= link_to "Sign Up", '/users/new', method: :get, class: "nav_button" %>
       <% end %>
       </div>

    </header>

    <div id="content-div">
      <%= yield %>
    </div>

  </body>

  <footer id='foot'>
    <%  if @logged_in %>
    <p>Logged in as <%= @current_user.name %> </p>
    <%= link_to "About", "http://trololololololo.com/" %>
    |
    <%= link_to "Privacy", "http://trololololololo.com/" %>
    |
    <%= link_to "Terms of Service", "http://trololololololo.com/" %>
    <% else %>
      <%= link_to "About", "http://trololololololo.com/" %>
      |
      <%= link_to "Privacy", "http://trololololololo.com/" %>
      |
      <%= link_to "Terms of Service", "http://trololololololo.com/" %>
    <% end %>
  </footer>
</html>
